## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_Description
0,0,Qaanaaq,GL,77.4840,-69.3632,39.18,71,85,6.26,overcast clouds
1,1,Dikson,RU,73.5069,80.5464,39.29,87,31,11.99,scattered clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,45.64,95,100,21.16,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,38.86,70,20,11.50,few clouds
4,4,Puerto Ayora,EC,-0.7393,-90.3518,73.54,83,38,13.00,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_Description
4,4,Puerto Ayora,EC,-0.7393,-90.3518,73.54,83,38,13.00,scattered clouds
7,7,Sioux Lookout,CA,50.1001,-91.9170,77.52,35,6,10.89,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,68.16,94,20,2.30,fog
13,13,Angoche,MZ,-16.2325,39.9086,71.74,57,56,13.91,broken clouds
16,16,Bredasdorp,ZA,-34.5322,20.0403,60.28,59,100,3.69,overcast clouds
17,17,Yinchuan,CN,38.4681,106.2731,78.93,48,100,6.49,overcast clouds
19,19,Bengkulu,ID,-3.8004,102.2655,76.93,89,3,4.79,clear sky
21,21,Lagoa,PT,39.0500,-27.9833,69.30,82,100,12.93,overcast clouds
22,22,Matagami,CA,49.7502,-77.6328,69.91,83,40,11.50,scattered clouds
23,23,Norman Wells,CA,65.2820,-126.8329,61.34,46,85,4.05,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                321
City                   321
Country                317
Lat                    321
Lng                    321
Max Temp               321
Humidity               321
Cloudiness             321
Wind Speed             321
Current_Description    321
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                317
City                   317
Country                317
Lat                    317
Lng                    317
Max Temp               317
Humidity               317
Cloudiness             317
Wind Speed             317
Current_Description    317
dtype: int64

In [7]:
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_Description
4,4,Puerto Ayora,EC,-0.7393,-90.3518,73.54,83,38,13.00,scattered clouds
7,7,Sioux Lookout,CA,50.1001,-91.9170,77.52,35,6,10.89,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,68.16,94,20,2.30,fog
13,13,Angoche,MZ,-16.2325,39.9086,71.74,57,56,13.91,broken clouds
16,16,Bredasdorp,ZA,-34.5322,20.0403,60.28,59,100,3.69,overcast clouds
17,17,Yinchuan,CN,38.4681,106.2731,78.93,48,100,6.49,overcast clouds
19,19,Bengkulu,ID,-3.8004,102.2655,76.93,89,3,4.79,clear sky
21,21,Lagoa,PT,39.0500,-27.9833,69.30,82,100,12.93,overcast clouds
22,22,Matagami,CA,49.7502,-77.6328,69.91,83,40,11.50,scattered clouds
23,23,Norman Wells,CA,65.2820,-126.8329,61.34,46,85,4.05,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current_Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
4,Puerto Ayora,EC,73.54,scattered clouds,-0.7393,-90.3518,
7,Sioux Lookout,CA,77.52,clear sky,50.1001,-91.9170,
10,Vaini,TO,68.16,fog,-21.2000,-175.2000,
13,Angoche,MZ,71.74,broken clouds,-16.2325,39.9086,
16,Bredasdorp,ZA,60.28,overcast clouds,-34.5322,20.0403,
17,Yinchuan,CN,78.93,overcast clouds,38.4681,106.2731,
19,Bengkulu,ID,76.93,clear sky,-3.8004,102.2655,
21,Lagoa,PT,69.30,overcast clouds,39.0500,-27.9833,
22,Matagami,CA,69.91,scattered clouds,49.7502,-77.6328,
23,Norman Wells,CA,61.34,overcast clouds,65.2820,-126.8329,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
4,Puerto Ayora,EC,73.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Sioux Lookout,CA,77.52,clear sky,50.1001,-91.9170,Knobby's Fly-In Camps
10,Vaini,TO,68.16,fog,-21.2000,-175.2000,Keleti Beach Resort
13,Angoche,MZ,71.74,broken clouds,-16.2325,39.9086,Guest House HESADA
16,Bredasdorp,ZA,60.28,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
17,Yinchuan,CN,78.93,overcast clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
19,Bengkulu,ID,76.93,clear sky,-3.8004,102.2655,Grage Hotel Bengkulu
21,Lagoa,PT,69.30,overcast clouds,39.0500,-27.9833,Casa Das Faias
22,Matagami,CA,69.91,scattered clouds,49.7502,-77.6328,Hôtel Matagami
23,Norman Wells,CA,61.34,overcast clouds,65.2820,-126.8329,Heritage Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
4,Puerto Ayora,EC,73.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Sioux Lookout,CA,77.52,clear sky,50.1001,-91.9170,Knobby's Fly-In Camps
10,Vaini,TO,68.16,fog,-21.2000,-175.2000,Keleti Beach Resort
13,Angoche,MZ,71.74,broken clouds,-16.2325,39.9086,Guest House HESADA
16,Bredasdorp,ZA,60.28,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
17,Yinchuan,CN,78.93,overcast clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
19,Bengkulu,ID,76.93,clear sky,-3.8004,102.2655,Grage Hotel Bengkulu
21,Lagoa,PT,69.30,overcast clouds,39.0500,-27.9833,Casa Das Faias
22,Matagami,CA,69.91,scattered clouds,49.7502,-77.6328,Hôtel Matagami
23,Norman Wells,CA,61.34,overcast clouds,65.2820,-126.8329,Heritage Hotel

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current_Description</dt><dd>{Current_Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))